.add-user {
    height: 100%;

    & > .add-user-operate {
        height: 100px;
        display: flex;
        padding: 0 40px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ebe9e9;
        & > .button {
            font-size: 18px;
            padding: 8px 20px;
            color: white;
            background-color: rgb(209, 209, 32);
        }
    }

    & > .user-list {
        height: calc(100% - 100px);
        overflow-y: scroll;
        padding: 10px 20px;
        box-sizing: border-box;

        & > div {
            display: flex;
            padding: 6px 0;
            & > span {
                flex: 1;
            }
        }
    }

    & .delete-button {
        font-size: 16px;
        padding: 4px 10px;
        color: white;
        background-color: red;
    }

    & .extend-button {
        font-size: 16px;
        padding: 4px 10px;
        color: white;
        background-color: rgb(74, 74, 236);
        margin-left: 10px;
    }
}

