.item-card {
  padding: 10px;
  font-size: 16px;
  width: 44%;
  display: inline-block;
  margin: 10px 3%;
}

.item-card-img {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../../assets/images/item_bg.png');
  background-size: cover;
}

.item-info {
  margin-left: 8px;

  & > div:first-child {
    width: 100%;
    padding: 0 4px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.item-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
}
